.box {
    border-radius: 10px;
    padding: 20px;
    background: $white;

    &.comment {
        display: flex;
        position: relative;
        padding: 20px 20px 40px 20px;

        @include media-breakpoint-up(md){
            padding: 20px;
        }

        .notation {
            position: absolute;
            bottom: 20px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            width: min-content;
            height: min-content;
            padding: 10px;
            text-align: center;
            background: $very-light-gray;
            color: $moderate-blue;
            font-weight: 500;
            gap: 0 15px;
            margin-right: 20px;

            @include media-breakpoint-up(md){
                position: static;
                flex-direction: column;
                gap: 10px 0;
            }

            .plus, 
            .minus {
                cursor: pointer;
                color: $light-grayish-blue;
                font-size: 20px;
                transition: color ease-in-out 0.1s;

                &:hover {
                    color: $moderate-blue;
                }
            }
        }

        .top {
            display: flex;
            align-items: center;

            .avatar {
                display: flex;
                align-items: center;
                color: $dark-blue;
                font-weight: 500;
                margin-right: 20px;

                > img {
                    width: 50px;
                    margin-right: 20px;
                }
            }

            .time {
                color: $grayish-blue;
            }

            .reply {
                cursor: pointer;
                position: absolute;
                margin-left: auto;
                color: $moderate-blue;
                font-weight: 500;
                transition: opacity ease-in-out 0.1s;
                bottom: 32.5px;
                right: 20px;

                &:hover {
                    opacity: 0.5;
                }

                @include media-breakpoint-up(md){
                    position: static;
                }

                > img {
                    margin-right: 5px;
                }
            }
        }

        .comment-content {
            color: $grayish-blue;
            line-height: 25px;
            margin-bottom: 40px;
            
            @include media-breakpoint-up(md){
                margin-bottom: 20px;
            }
        }
    }

    // &.delete {

    // }
}