.button {
    border-radius: 10px;
    text-transform: uppercase;
    padding: 15px 30px;
    text-align: center;
    color: $white;

    &.send {
        background: $moderate-blue;
    }

    &.delete {
        background: $soft-red;
    }

    &.cancel {
        background: $grayish-blue;
    }
}